@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    @apply bg-gray-900 text-gray-100;
    -webkit-font-smoothing: antialiased;
}

@layer utilities {


  .scrollbar::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #121214;
  }

  .scrollbar::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
    background: #8D8D99;
    
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #8D8D99;
  }
}